<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="tests">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <file>./bin/caphpe</file>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./tests/coverage" lowUpperBound="33" highLowerBound="67"/>
    </logging>
</phpunit>
